# basic env settings
SetEnv PHP_VER 5_4
SetEnv ZEND_OPTIMIZER 0
SetEnv REGISTER_GLOBALS 0

# default global character set
AddDefaultCharset utf-8

# disable server signature
ServerSignature Off

# no indexing
<IfModule mod_autoindex.c>
    Options All -Indexes
</IfModule>
